<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/css.css">
    <style>
        #ileft {
            border-radius: 10%;
            width: 300px;
            height: 300px;
            object-fit: cover;
            float: left;
            margin-right: 20px;
        }
        #iright {
            border-radius: 10%;
            width: 300px;
            height: 300px;
            object-fit: cover;
            float: right;
            margin-left: 20px;
        }
        .evenP
        {
            text-align: justify;
            background-color: rgba(0, 255, 255, 0.584);
            height: 400px;
            border-radius: 10px;
            padding: 30px;

        }
        .evenL
        {
            text-align: justify;
            background-color: rgba(0, 89, 255, 0.558);
            height: 400px;
            border-radius: 10px;
            padding: 30px; 
        }
    </style>
</head>

<body id="ForScroll">
    <nav>
        <a class="modernButton" href="/">Home</a>
        <a class="modernButton" href="/login">login/signUp</a>
        <a class="modernButton" href="/aboutus" style="color: aqua;">About Us</a>
        <a class="modernButton" href="/contactus">Contact Us</a>
    </nav>

    <div>

        <center>
            <h1 style="background-color: aqua;">
                Maker's
            </h1>
        </center>
    </div>
    <section>
        <div id="box">
            <a href="/images/Paawan.jpg" target="_blank">
                <div class="mini">
                    <img src="/images/Paawan.jpg" alt="" height="290"><br><b>Paawan Vala</b>
                </div>
            </a>
            <a href="/images/Parth.jpg" target="_blank">
                <div class="mini">
                    <img src="/images/Parth.jpg" alt="" height="290"><br><b>Parth Sorathiya</b>
                </div>
            </a>
            <a href="/images/Shubham.jpg" target="_blank">
                <div class="mini">
                    <img src="/images/Shubham.jpg" alt="" height="290"><br><b>Shubham Zala</b>
                </div>
            </a>
            <a href="/images/Heer.jpg" target="_blank">
                <div class="mini">
                    <img src="/images/Heer.jpg" alt="" height="290"><br><b>Heer Dharsandiya</b>
                </div>
            </a>
            <a href="/images/Heet.jpg" target="_blank">
                <div class="mini">
                    <img src="/images/Heet.jpg" alt="" height="290"><br><b>Heet Dipeshe</b>
                </div>
            </a>
        </div>
    </section>

    <div id="aboutUS" style="width: 1200px; margin: auto;">
        <center>
            <h1 style="background-color: aqua;">
                About Us
            </h1>
        </center>
        <br>
            <br>
        <h3>
            <div class="evenL">
                <img id="ileft" src="/images/11.jpg" alt="">Welcome to FREELANCER MEDIATOR, where talent meets
                opportunity, and creativity finds its stage. As a
                dedicated platform connecting skilled freelancers with exciting projects, we've set out to redefinethe
                way independent professionals collaborate and thrive in the digital landscape.
            </div>
            <br>
            <br>

            <div class="evenP"><img id="iright" src="/images/12.jpg" alt=""></p>At FREELANCER MEDIATOR, we believe in the power of freelancers to transform ideas into reality. Whether
                you're a seasoned professional or just starting your freelance journey, our platform is designed to be
                your compass in navigating the vast landscape of projects seeking your unique skills.</div>
                <br>
            <br>

            <div class="evenL"><img id="ileft" src="/images/13.jpg" alt=""></p>Our mission is simple: Empower freelancers to take control of their careers and provide them with a
                vibrant marketplace where their talents are not just recognized but celebrated. We understand the
                challenges freelancers face – from finding the right projects to ensuring fair compensation – and we're
                here to bridge the gap.</div>
                <br>
            <br>

            <div class="evenP"><img id="iright" src="/images/14.jpg" alt=""></p>What sets us apart is our commitment to curating a diverse range of projects that not only align with
                your skills but also inspire your passion. From creative gigs to technical assignments, FREELANCER
                MEDIATOR is your go-to destination for opportunities that resonate with your expertise.</div>
                <br>
            <br>

            <div class="evenL"><img id="ileft" src="/images/15.jpg" alt=""></p>Navigating our platform is seamless. Create a profile that showcases your skills, browse through a
                curated list of projects, and connect with clients looking for your unique talents. We believe in
                simplicity, transparency, and efficiency – ensuring that your freelance experience is not only fruitful
                but enjoyable.</div>
                <br>
            <br>

            <div class="evenP"><img id="iright" src="/images/16.jpg" alt=""></p>As advocates for the freelance community, we prioritize fair compensation and transparent communication.
                Our platform is built on trust, and we're dedicated to fostering an environment where freelancers and
                clients can collaborate harmoniously, bringing visions to life and achieving collective success.</div>
                <br>
            <br>

            <div class="evenL"><img id="ileft" src="/images/17.jpg" alt=""></p>Join FREELANCER MEDIATOR today and embark on a journey where your skills are celebrated, your creativity
                is unleashed, and your freelance career reaches new heights. We're more than just a platform; we're your
                partner in success, committed to shaping a future where freelancers thrive.</div>
                <br>
            <br>

            <div class="evenP"><img id="iright" src="/images/18.jpg" alt=""></p>Discover a world of opportunities, connect with like-minded professionals, and let your freelance journey
                flourish at FREELANCER MEDIATOR. Welcome to a new era of freelancing – where your talent takes center
                stage.</div>
                <br>
            <br>
        </h3>
    </div>
    <a href="#ForScroll" id="myBtn" title="Go to top">^</a>

    <footer>
        <center>
            <h1>Freelancer Mediator</h1>
            <br>
            <h4>© Freelancer Mediator, All rights Reserved.</h4>
            <h3>Owned By Group3</h3>
        </center>
    </footer>
</body>

</html>