<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/css.css">
</head>

<body id="ForScroll">
    <nav>
        <a class="modernButton" href="/">Home</a>
        <a class="modernButton" href="/login">login/signUp</a>
        <a class="modernButton" href="/aboutus">About Us</a>
        <a class="modernButton" href="/contactus" style="color: aqua;">Contact Us</a>
    </nav>
    <div>
        <center>
            <h1 style="background-color: aqua;">
                Contact Us
            </h1>
        </center>
    </div>
    <div class="container">

        <div class="item" id="left">
            <img src="freelancing_background.jpg" alt="" height="200">
            <h1>Freelancer Mediator</h1>
            Email : paawanwala2017@gmail.com  <a id="link" style="padding: 10px; font-size: 20px;" href="mailto:paawanwala2017@gmail.com">Mail</a>
            <br>
            <br>
            <h4>© freelancer mediator, All rights Reserved.</h4>
            <h3>Group 3 The Developer and Group Owned</h3>
        </div>
        <div class="item" id="right">
            <form action="mailto:paawanwala2017@gmail.com" method="post" enctype="text/plain">
                <p id="nameform">
                    Name : <br>* <input name="name" type="text" required placeholder="Name Surname">
                </p>
                <p id="emailform">
                    E-mail : <br>* <input type="email" required placeholder="xyz@gmail.com">
                </p>
                <p id="subjectform">
                    Subject : <br><input id="subject" name="subject" type="text" placeholder="Subject">
                </p>
                <p id="massageform">
                    Message : <br><textarea name="Message" id="" cols="30" rows="10"
                        placeholder="Write your message here"></textarea>
                </p>
                <input type="submit" value="Send" class="btn">
            </form>
        </div>
    </div>
    <a href="#ForScroll" id="myBtn" title="Go to top">^</a>

    <footer>
        <center>
            <h1>Freelancer Mediator</h1>
            <br>
            <h4>© Freelancer Mediator, All rights Reserved.</h4>
            <h3>Owned By Group3</h3>
        </center>
    </footer>
</body>

</html>